// questo file contiene le variabili e i mixin che determinano lo stile dell'app
body.home.pushable>.pusher {
    background: url(../img/bg.png) 50% 40% no-repeat #f4f8eb;
    background-size: initial;
}

body.pushable > .pusher {
    background: url(../img/pattern.png) 50% 40% no-repeat #f4f8eb;
}

.bottoni_sotto {
    color: #000;
}
body.home .ui.menu.fixed .button.toggle_sidebar {
    background-color: #75b31f;
    box-shadow: 0 2px 9px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 40px;
    height: 39px;
    line-height: 19px;
    margin: 6px 11px;
}

.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row) {
    box-shadow: -1px 0 0 0 rgba(117, 179, 31,.2);
}

.item.totem, .item.card {
    background: #f4f8eb url("../img/club.png") no-repeat 97% center;
    background-position: -webkit-calc(100% - 20px) center; /* Sf 6 */
    background-position: right 20px center; /* Cr 25+, FF 13+, IE 9+, Op 10.5+ */
}

.highlight.club-color {
    background-color: #75b31f !important;
    color: black!important;
}

.iscrizione, .ui.segment.iscrizione {
    background: transparent;
    background-color: transparent!important;
    border: 0;
    box-shadow: none;
    padding: 10px 0;
}

.iscrizione h4 {
    padding-left: 10px;
}

#qrcode {
    position: relative;
    top: -170px;
    left: 50px;
}

#dati_utente {
    position: relative;
    top: -100px;
    text-align: center;
}

.ui.grid>.card {
    padding-left: 0;
    padding-right: 0;
    margin:auto;
    transform: scale()
}

.annulla_iscrizione{
    position: relative;
    top: -90px;
}

.ui.grid.padded10, p.padded10, .padded10, form.padded10{
    padding: 10px;
}

form.padded10 {
    padding-bottom: 50vh;
}
