.ui.page
    .ui.segments
        h5.ui.tertiary.inverted.green.top.attached.header All'interno del centro
        .ui.tertiary.inverted.green.segment
            a.fluid.ui.labeled.icon.green.button(ng-click="apriUrl('tel:051705722')") Direzione del centro<br>
                small +39 051 705722
                i.call.icon
        .ui.tertiary.inverted.green.segment
            a.fluid.ui.labeled.icon.green.button(ng-click="apriUrl('tel:3929092452')") Vigilanza del centro<br>
                small +39 392 9092452 
                i.call.icon
        .ui.tertiary.inverted.green.segment
            a.fluid.ui.labeled.icon.green.button(ng-click="apriUrl('tel:051372727')") Radiotaxi Cotabo<br>
                small +39 051 372727 
                i.call.icon
        .ui.tertiary.inverted.green.segment
            a.fluid.ui.labeled.icon.green.button(ng-click="apriUrl('tel:051538083')") Consorzio Autonomo Taxisti<br>
                small +39 051 538083
                i.call.icon
        h5.ui.tertiary.inverted.red.attached.header Pubblica sicurezza
        .ui.tertiary.inverted.red.segment
            a.fluid.ui.labeled.icon.red.button(ng-click="apriUrl('tel:112')") Numero unico emergenze<br>
                small 112
                i.call.icon
        .ui.tertiary.inverted.red.segment
            a.fluid.ui.labeled.icon.red.button(ng-click="apriUrl('tel:118')") Pronto soccorso<br>
                small 118
                i.call.icon
