.ui.segments
    .ui.segment.attached.fluid.buttons
        a(ui-sref="posizione").ui.button In auto
        a(ui-sref="posizioneAutobus").ui.button.active In autobus
    .ui.segment.attached
        .ui.segment
            strong Le Piazze Lifestyle Shopping Centre
            br
            strong Via Pio La Torre 5/D - Castel Maggiore (BO)
        .ui.basic.segment
            span Da Bologna, <strong>le linee 97 e 98</strong>, che effettuano fermate in via Marconi, Piazza dei Martiri, via dei Mille oppure in autostazione e Piazza dell’Unità, sono le linee più comode per giungere in meno di mezz’ora a Castel Maggiore centro. 
            | Le linee 97 e 98 servono anche i paesi limitrofi di Castel Maggiore. Per orari e percorsi consultare il sito http://www.atc.bo.it
