.ui.segments
    .ui.segment.attached.fluid.buttons
        a(ui-sref="posizione").ui.button.active In auto
        a(ui-sref="posizioneAutobus").ui.button In autobus
    .ui.segment.attached
        .ui.segment
            strong Le Piazze Lifestyle Shopping Centre
            br
            strong Via Pio La Torre 5/D - Castel Maggiore (BO)
            .ui.basic.segment
                a.ui.fluid.primary.button(href="{{posizione}}" target="_system" ng-click="apriUrl('{{posizione}}');") visualizza percorso sul navigatore
        div Le Piazze Lifestyle Shopping Centre è situato a meno di 1km dal centro del Comune di Castel Maggiore. 
        | Si raggiunge seguendo la direttrice Galliera che collega Bologna - e le principali uscite autostradali - con i paesi limitrofi che occupano la parte nord est dell’area bolognese.

        .ui.basic.segment
            u Da Bologna – zona Corticella 
            span Procedere  in direzione sudest da via Corticella verso via Cristoforo Colombo. Da via Corticella svoltare a sinistra che  diventa via del Trebbo. 
            |Continuare su via Galliera e successivamente  svoltare a destra in  via Genuzio Bentini. Alla rotonda, prendere  la 2ª uscita e rimanere su via Genuzio Bentini. 
            |Continuare su via Galliera. Alla rotonda prendere  la 4ª uscita e imboccare via Pio La Torre. 
        .ui.basic.segment
            u Da Bologna – zona Lame-Zanardi 
            span Prendere via Marco Polo e proseguire sempre dritto su via Cristoforo Colombo in direzione Aeroporto. Alla rotonda, prendere la 1° uscita e continuare su via di Corticella. Svoltare leggermente a sinistra e prendere via Paolo Fabbri. Dopo circa 300 m, svoltare a sinistra e prendere via Genuzio Bentini: alla rotonda, prendere  la terza uscita e rimanere su via Bentini. Continuare su via Galleria. Dopo 1 km circa, alla rotonda, prendere la quarta uscita: qui c’è via Pio La Torre.
        .ui.basic.segment
            u Da Bologna – zona Fiera 
            span Prendere  via Stalingrado e via Aposazza in direzione di via del Tuscolano. Seguire via del Tuscolano e via G. Di Vittorio in direzione di via Genuzio Bentini a Castel Maggiore. Prendere  via Galliera in direzione di via Pio La Torre a Castel Maggiore. Alla rotonda prendere la 4ª uscita e prendere via Pio La Torre
