.ui.segment
    h4.header segui il centro commerciale sui tuoi social preferiti!
    .ui.divided.relaxed.list
        .item
            button.ui.fluid.labeled.icon.button(onclick="apriUrl('http://www.lepiazzecastelmaggiore.com/')") 
                i.globe.icon
                | Sito web
        .item
            button.ui.fluid.labeled.facebook.icon.button(onclick="apriUrl('https://www.facebook.com/LePiazze')")
                i.facebook.icon
                | Facebook
        .item
            button.ui.fluid.labeled.twitter.icon.button(onclick="apriUrl('https://twitter.com/PiazzeLifestyle')")
                i.twitter.icon
                | Twitter
        .item
            button.ui.fluid.labeled.youtube.icon.button(onclick="apriUrl('https://www.youtube.com/user/LePiazzelifestyle')")
                i.youtube.icon
                | You Tube
        .item
            button.ui.fluid.labeled.instagram.icon.button(onclick="apriUrl('https://www.instagram.com/lepiazze')")
                i.instagram.icon
                | Instagram
